---
import Layout from "../layouts/Layout.astro";
import { changePassword, listUsers, login, verify } from "../cognito";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const email = formData.get("email");
  const password = formData.get("password");

  if (typeof email !== "string") throw Error("No email received.");
  if (typeof password !== "string") throw Error("No password received.");

  const loginOutput = await login(email, password);

  if (!loginOutput.AuthenticationResult)
    throw Error("No AuthenticationResult received.");
  if (!loginOutput.AuthenticationResult.AccessToken)
    throw Error("No AccessToken received.");

  Astro.cookies.set("token", loginOutput.AuthenticationResult.AccessToken, {
    path: "/",
    expires: new Date(
      Date.now() + (loginOutput.AuthenticationResult.ExpiresIn ?? 0) * 1000,
    ),
  });
  return Astro.redirect("/", 302);
}
---

<Layout>
  <div class="flex justify-center">
    <form
      enctype="multipart/form-data"
      method="POST"
      class="flex w-1/2 flex-col gap-2 text-center"
    >
      <div class="flex flex-col gap-1">
        <label for="email" class="text-lg">Email</label>
        <input type="email" name="email" id="email" class="c-input" />
      </div>
      <div class="flex flex-col gap-1">
        <label for="password" class="text-lg">Password</label>
        <input type="password" name="password" id="password" class="c-input" />
      </div>
      <button type="submit" class="c-button">Login</button>
      <div>
        No account? <a href="/signup/" class="c-link">Sign Up</a>
      </div>
    </form>
  </div>
</Layout>
